h3 {
  color: #776b5d;
}

.shopProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.shopTitle {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.product p {
  margin: 0px;
}

.product {
  padding: 10px;
  text-align: center;
}

.description{
  margin-top: 10px;
}

img {
  width: 40%;
}

.link {
  text-decoration: none;
  color: #7e7367;
}

.link:hover {
  color: #ebe3d5;
}

.theImage:hover {
  transform: scale(1.05);
}

.addToCartButton {
  border-radius: 10px;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
}

@media screen and (max-width: 480px) {
  .products {
    display: grid;
    grid-row-gap: 60px;
  }

  img {
    width: 90px;
  }

  .addToCartButton {
    font-size: 11px;
  }

  .shopTitle {
    width: 75%;
  }
}

@media screen and (min-width: 481px) {
  .shopProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .products {
    display: grid;
    grid-gap: 110px;
    grid-template-columns: repeat(2, 1fr);
  }
  img {
    width: 100px;
  }

  .addToCartButton {
    font-size: 12px;
  }

  .shopTitle {
    width: 75%;
  }
}

@media screen and (min-width: 768px) {
  .shopProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .products {
    display: grid;
    grid-gap: 120px;
    grid-template-columns: repeat(3, 1fr);
  }

  img {
    width: 105px;
  }

  .addToCartButton {
    font-size: 12px;
  }

  .shopTitle {
    min-width: 730px;
    max-width: 980px;
  }
}

@media screen and (min-width: 1080px) {
  .shopProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .products {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 130px;
    grid-row-gap: 70px;
    /* max-width: 1100px; */
    justify-content: center;
  }

  img {
    width: 125px;
  }

  .addToCartButton {
    font-size: 12px;
  }
  
  .shopTitle {
    min-width: 1050px;
    max-width: 1050px;
  }
}
