body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.logo {
  margin-left: 20px;
}

.links {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.links .shop {
  margin-right: 10px;
}

.shop {
  text-decoration: none;
}

.shoppingCartIcon{
  width: 22px;
  height: 22px;
}

.shop,
.cart {
  color: #756858;
}

.links .shop:hover,
.links .cart:hover {
  color: #b0a695;
  transform: scale(1.1);
}

.shop.active {
  color: #b0a695;
}

.cart.active {
  color: #b0a695;
}

@media screen and (max-width: 480px) {
  .logoTitle {
    display: none;
  }
  .logoImg {
    margin-top: 10px;
    width: 70px;
  }
}

@media screen and (min-width: 481px) {
  .logoTitle {
    font-size: 25px;
    color: #b0a695;
  }
  .logoImg {
    margin-top: 0px;
    margin-left: 10px;
    width: 75px;
  }
  .navbar {
    height: 100px;
  }
  .links {
    margin-right: 23px;
  }
}

@media screen and (min-width: 768px) {
  .logoTitle {
    font-size: 30px;
  }
  .logoImg {
    width: 90px;
  }
  .links {
    font-size: 20px;
  }
  .shop{
    margin-top: 5px;
  }
  
  .shoppingCartIcon{
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 1080px) {
  .shoppingCartIcon{
    width: 30px;
    height: 30px;
  }
}